<%provide(:title, "Dashboard")%>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">

        <!-- Profile Image -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">My Profile</h3>
          </div>
          <div class="card-body box-profile">
            <div class="text-center">

              <%= image_tag(current_student.photo, size: '150x150', class: "profile-user-img img-fluid") if current_student.photo.attached?%>
              <%= image_tag("blank-profile-picture-973460_640.png", size: '150x150', class: "profile-user-img img-fluid") if !current_student.photo.attached?%>
            </div>

            <h1 class="profile-username text-center"><b><%= current_student.name.full.upcase%></b></h1>


            <div class= "text-center my-3">
              <% if current_student.document_verification_status == "pending"%>
                <%= link_to "Edit Profile", edit_student_registration_path, class: "btn btn-outline-primary btn-flat"%>
              <%end%>
            </div>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item mx-3">
                <b>Student Fullname</b> <a class="text-muted float-right"><%= "#{current_student.first_name.upcase} #{current_student.middle_name.upcase} #{current_student.last_name.upcase}"%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Student ID</b> <a class="text-muted float-right"><%= current_student.student_id.present? ? current_student.student_id : "Not Assigned Yet"%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Prorgam</b> <a class="text-muted float-right"><%= current_student.program.program_name%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Department</b> <a class="text-muted float-right"><%= current_student.department%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Admission Type</b> <a class="text-muted float-right"><%= current_student.admission_type%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Study Level</b> <a class="text-muted float-right"><%= current_student.study_level%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Year</b> <a class="text-muted float-right"><%= current_student.year%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Documents</b><%= link_to "click here to see the attachments", documents_path, class: "text-blue float-right"%>
              </li>
              <li class="list-group-item mx-3">
                <b>Account Verification</b> <a class="float-right badge badge-info p-2 text-white"><%= current_student.account_verification_status%></a>
              </li>
            </ul>


          </div>
          <!-- /.card-body -->
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Emregncy Contact Information</h3>
              </div>
              <div class="card-body box-profile">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item mx-3">
                    <b>Full Name</b> <a class="text-muted float-right"><%= @emergency_contact.full_name%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>Relationship</b> <a class="text-muted float-right"><%= @emergency_contact.relationship%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>cell phone</b> <a class="text-muted float-right"><%= @emergency_contact.cell_phone%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>email</b> <a class="text-muted float-right"><%= @emergency_contact.email%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>Current occupation</b> <a class="text-muted float-right"><%= @emergency_contact.current_occupation%></a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Emregncy Contact Employer Information</h3>
              </div>
              <div class="card-body box-profile">
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item mx-3">
                    <b>Name employer</b> <a class="text-muted float-right"><%= @emergency_contact.name_of_current_employer%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>Email</b> <a class="text-muted float-right"><%= @emergency_contact.email_of_employer%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>Phone number</b> <a class="text-muted float-right"><%= @emergency_contact.office_phone_number%></a>
                  </li>
                  <li class="list-group-item mx-3">
                    <b>Pobox</b> <a class="text-muted float-right"><%= @emergency_contact.pobox%></a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4">
        <% if (current_student.semester_registrations.where(academic_calendar_id: 8)) || (current_student.semester_registrations.where(academic_calendar_id: 7))%>
          <% if !current_student.semester_registrations.order("created_at DESC").first.invoices.order("created_at DESC").first.present? %>
            <div class="col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-info-circle mr-2"></i>
                    <strong>Instruction</strong>

                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">  
                  <div class="card-body">  
                    <strong class="text-success">Click the enroll button to enroll courses.</strong>
                  </div>

                </div>
                <div class="card-footer">
                  <%= link_to "Enroll Courses", edit_semester_registration_path(current_student.semester_registrations.order("created_at DESC").first.id), class: "btn btn-success"%>
                </div>
              </div>
            </div>
          <%elsif current_student.semester_registrations.order("created_at DESC").first.invoices.order("created_at DESC").first.present? && !current_student.invoices.order("created_at DESC").first.payment_transaction.present?%>
            <div class="col-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-info-circle mr-2"></i>
                    <strong>Instruction</strong>

                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">  
                  <p class="text-center">
                    <strong class="text-blue">There is Unpaid invoice please finish submiting payment transaction form so you can be enroll class.</strong>
                  </p>
                </div>
                <div class="card-footer">
                  <%= link_to "Pay now", invoice_path(current_student.invoices.order("created_at DESC").first.id), class: "btn btn-primary"%>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          <%elsif current_student.semester_registrations.order("created_at DESC").first.invoices.order("created_at DESC").first.present? && current_student.invoices.order("created_at DESC").first.payment_transaction.present? && current_student.invoices.order("created_at DESC").first.payment_transaction.finance_approval_status == "pending"%>
            <div class="col-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-info-circle mr-2"></i>
                    <strong>Instruction</strong>

                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">  
                  <p class="text-center">
                    <strong class="text-blue">Your payment has not been approved yet. Wait until finance approves your payment. </strong>
                  </p>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          <%elsif current_student.semester_registrations.order("created_at DESC").first.invoices.order("created_at DESC").first.present? && current_student.invoices.order("created_at DESC").first.payment_transaction.present? && current_student.invoices.order("created_at DESC").first.payment_transaction.finance_approval_status == "approved"%>
            <div class="col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-info-circle mr-2"></i>
                    <strong>Instruction</strong>

                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">  
                  <div class="card-body">  
                    <strong class="text-success">Your payment transfer has been Approved. Click the button to go to learning platfrom.</strong>
                  </div>

                </div>
                <div class="card-footer">
                  <%= link_to "Go to Learning Platfrom", "https://lms.yic.edu.et", class: "btn btn-success"%>
                </div>
              </div>
            </div>
            <%= render 'student_id'%>
          <%end%>
        <% else%>
          <%= render 'instruction'%>
        <%end%>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Basic Information</h3>
          </div>
          <div class="card-body box-profile">
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item mx-3">
                <b>Email</b> <a class="text-muted float-right"><%= current_student.email%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Gender</b> <a class="text-muted float-right"><%= current_student.gender%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Birth Date</b> <a class="text-muted float-right"><%= current_student.date_of_birth.strftime("%b %d, %Y")%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Marital Status</b> <a class="text-muted float-right"><%= current_student.marital_status%></a>
              </li>
              
            </ul>


          </div>
          <!-- /.card-body -->
        </div>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Address Information</h3>
          </div>
          <div class="card-body box-profile">
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item mx-3">
                <b>Country</b> <a class="text-muted float-right"><%= @address.country%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>City</b> <a class="text-muted float-right"><%= @address.city%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Region</b> <a class="text-muted float-right"><%= @address.region%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Zone</b> <a class="text-muted float-right"><%= @address.zone%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Sub city</b> <a class="text-muted float-right"><%= @address.sub_city%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Woreda</b> <a class="text-muted float-right"><%= @address.woreda%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>House number</b> <a class="text-muted float-right"><%= @address.house_number%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Cell phone</b> <a class="text-muted float-right"><%= @address.cell_phone%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>House phone</b> <a class="text-muted float-right"><%= @address.house_phone%></a>
              </li>
              <li class="list-group-item mx-3">
                <b>Pobox</b> <a class="text-muted float-right"><%= @address.pobox%></a>
              </li>
              
            </ul>


          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>