<%provide(:title, "Payment Transfer")%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Payment Form</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/">Invoices</a></li>
          <li class="breadcrumb-item active">Payment Form</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              Payment Form
            </h3>
          </div>
          <div class="card-body p-0">
            <div class="bs-stepper">
              <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#bi">
                  <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="bi-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Payment Transfer Detail</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#payment_transaction">
                  <button type="button" class="step-trigger" role="tab" aria-controls="payment_transaction" id="payment_transaction-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Payment Form</span>
                  </button>
                </div>
              </div>
              
              <%= simple_form_for(@payment_transaction, validate: true) do |f| %>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                
                <div class="bs-stepper-content">
                  <!-- your steps content here -->
                  <div id="bi" class="content" role="tabpanel" aria-labelledby="bi-trigger">
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <div class="card card-outline card-primary">
                          <div class="card-header">
                            <h3 class="card-title">
                              <i class="fas fa-info-circle mr-2"></i>
                              <strong>Instruction</strong>

                            </h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <p  class="text-center"><strong>Please, transfer <%=@invoice.total_price%> ETB to the account we provide you and fill the form with in your bank information.</strong></p>  
                            <hr>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="card card-primary card-outline">
                          <div class="card-body box-profile">
                            <div class="text-center">
                              <%= image_tag(@payment_method.bank_logo, class: "profile-user-img img-fluid")%>
                            </div>

                            <h3 class="profile-username text-center"><%= @payment_method.bank_name%></h3>

                            <p class="text-muted text-center"><%= @payment_method.payment_method_type%></p>

                            <ul class="list-group list-group-unbordered mb-3">
                              <li class="list-group-item mx-3">
                                <b>Account Name</b> <a class="text-muted float-right"><%= @payment_method.account_full_name%></a>
                              </li>
                              <li class="list-group-item mx-3">
                                <b>Account Number</b> <a class="text-muted float-right"><%= @payment_method.account_number%></a>
                              </li>
                              <li class="list-group-item mx-3">
                                <b>Bank Name</b> <a class="text-muted float-right"><%= @payment_method.bank_name%></a>
                              </li>
                              <li class="list-group-item mx-3">
                                <b>Phone Number</b> <a class="text-muted float-right"><%= @payment_method.phone_number%></a>
                              </li>
                            </ul>
                            <a class="btn btn-primary btn-block" onclick="stepper.next()">Continue</a>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                  <div id="payment_transaction" class="content" role="tabpanel" aria-labelledby="payment_transaction-trigger">
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <div class="card card-outline card-primary">
                          <div class="card-header">
                            <h3 class="card-title">
                              <i class="fas fa-info-circle mr-2"></i>
                              <strong>Instruction</strong>

                            </h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <p  class="text-center"><strong>Fill in the space(s) or Select the appropriate box(es) or selctions. * fields are required.</strong></p>  
                            <p class="text-muted text-center">
                              You must provide your address information on the fields provided. Once you fill all the required feilds hit the Continue button.
                            </p>
                            <hr>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                      <div class="col-12 col-md-9">
                        <div class="card card-outline card-primary">
                          <div class="card-header">
                            <h3 class="card-title">
                              <i class="fas fa-info-circle mr-2"></i>
                              <strong>Payment Form</strong>
                            </h3>
                          </div>
                          <div class="card-body row">
                            <div class="col-12 col-md-12 form-group">
                              <%= f.input :account_holder_fullname, validate: { presence: true, uniqueness: false } %>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                              <%= f.input :account_number, input_html: { class: 'form-control', autocomplete: "account_number" },placeholder: "Account number", required: true %>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                              <%= f.input :phone_number, input_html: { class: 'form-control', autocomplete: "phone_number" },placeholder: "Phone number", validate: { presence: true, uniqueness: false }, required: true %>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                              <%= f.input :transaction_reference, input_html: { class: 'form-control', autocomplete: "transaction_reference" },placeholder: "Transaction Reference", required: true %>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                              <%= f.input :receipt_image, as: :file, required: true %>
                            </div>
                            <%=f.input :invoice_id, as: :hidden, :input_html => { :value => @invoice.id}%>
                            <%=f.input :payment_method_id, as: :hidden, :input_html => { :value => @payment_method.id}%>
                          </div>
                          <div class="card-footer">
                            <a class="btn btn-secondary" onclick="stepper.previous()">Previous</a>
                            <%= f.submit "Finish", class: "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    var stepper = new Stepper($('.bs-stepper')[0])
  })
</script>


