<div class="row">
  <div class="col-12">
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <div>
          <div class="avatar-upload">
            <div class="avatar-edit">
              <!-- <form action="" method="post" id="form-image"> -->
                <%= f.file_field :photo%>
                
                <label for="student_photo"></label>
                <!-- </form> -->
              </div>
              <div class="avatar-preview">
                <% if f.object.photo.attached? %>
                  <%= image_tag("blank-profile-picture-973460_640.png",resize: '100x100',class: "profile-user-img img-responsive img-circle", id: "imagePreview", alt: "User profile picture")%>
                <% else %>
                  <%= image_tag("blank-profile-picture-973460_640.png",class: "profile-user-img img-responsive img-circle", id: "imagePreview") %>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :first_name, input_html: { class: 'form-control', autofocus: true, autocomplete: "first_name" },placeholder: "First Name", required: true, error: 'Username is mandatory, please specify one' %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :last_name, input_html: { class: 'form-control', autocomplete: "Last Name" },placeholder: "Last Name", label: "Last name (Grandfather name)", required: true %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :middle_name, input_html: { class: 'form-control', autocomplete: "middle_name" },placeholder: "Middle Name", label: "Middle Name (Father name)", required: true %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :gender,:as => :select, :collection => ["Male", "Female"], input_html: {class: "form-control custom-select rounded-0"}, :include_blank => false %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.label :date_of_birth%>
      <%= f.date_field :date_of_birth,class: 'form-control datepicker'%>
      <%= f.hint "when you pick your birth date select GC"%>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :marital_status, as: :select, :collection => ["Single", "Married", "Widowed","Separated","Divorced"], input_html: {class: "form-control custom-select rounded-0"}, :include_blank => false %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :current_occupation, input_html: { class: 'form-control', autocomplete: "current_occupation" },placeholder: "Current occupation"%>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :email, input_html: { class: 'form-control', autocomplete: "email" },placeholder: "Email", required: true %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :password, input_html: { class: 'form-control', autocomplete: "password" },placeholder: "Password", required: true %>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= f.input :password_confirmation, input_html: { class: 'form-control', autocomplete: "password_confirmation" },placeholder: "Password confirmation", required: true %>
    </div>
  </div>